.app {
  width: 1440px;
  margin: auto;

  .divider {
    margin: 10px 100px;
    border: 1px solid #2e8174;
    width: 181px;
  }

  .middleTile {
    color: #000000;
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    line-height: 48.76px;
    width: 780px;
    text-align: justify;
    margin: 60px auto;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    &-button {
      width: 297px;
      height: 50px;
      outline: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app {
    width: 768px;

    .divider {
      margin: 10px 50px;
    }

    .middleTile {
      text-align: center;
      margin: 30px auto;
    }

    .buttonContainer {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .app {
    width: 481px;

    .divider {
      width: 100px;
      margin: 0 auto 20px;
    }

    .middleTile {
      font-size: 18px;
      line-height: 21.94px;
      width: 300px;
      margin: 30px auto;
      text-align: center;
    }

    .buttonContainer {
      margin-bottom: 25px;

      &-button {
        font-size: 12px;
        line-height: 16.34px;
        width: 177px;
        text-align: center;
        width: 206px;
        height: 37px;
      }
    }
  }
}
