.responsiveTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242726;
  padding: 20px 56px;
  display: none;

  &-logo {
    width: 173px;
    height: 69px;
  }

  &-icon {
    width: 48px;
    height: 34px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .responsiveTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
