.topSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1037px;
  background-color: #242726;
  background-position-x: right;

  &-left {
    display: flex;
    flex-direction: column;
    margin: 175px 0 0 145px;

    &-title {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 58px;
      line-height: 70.7px;
      width: 637px;
      text-align: left;
      margin-bottom: 24px;
    }

    &-paragraph {
      color: #bfbebf;
      font-family: OpenSans-SemiBold;
      font-size: 22px;
      line-height: 25.87px;
      width: 100%;
      text-align: justify;
      margin-bottom: 48px;
    }

    &-btn {
      width: 150px;
      height: 56px;
      background-color: #242726;
      border: 3px solid #00ffd9;
      border-radius: 15px;
      color: #ffff;
      margin-left: 130px;
      outline: none;
    }
  }

  &-image {
    width: 800px;
  }
}
